<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/stylesheets/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-fileinput/css/fileinput.css">
    <script src="/javascripts/jquery/dist/jquery.js"></script>
    <script src="/stylesheets/bootstrap/dist/js/bootstrap.js"></script>
</head>
<body>
<!--    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">B1信管部</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> 注册</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
            </ul>
        </div>
    </nav>-->
<div class="topnav">
    <div class="container">
        <ul class="breadcrumb text-right">
            您好，欢迎，
            <!--<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>-->
            <li><a href="/"><span class="glyphicon glyphicon-home"></span> 回到首页</a></li>
        </ul>
        </ul>
    </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <h1><a href="/"><img src="/images/index/logo.png" alt="B1信管部"></a>
            <small class="glyphicon glyphicon-minus"></small>
            <small><%= title %></small>
        </h1>
        <!--<ul class="list-inline pull-right">
            <li><a href="/add" class="btn btn-warning btn-sm">添加需求</a></li>
        </ul>-->
        <p class="lead"></p>
    </div>
    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
        <form action="/add" method="post" role="form" enctype="multipart/form-data">
            <div class="form-group">
                <label for="title">需求类型<strong class="text-danger">*</strong></label>
                <% for (var i = 0; i < cates.length; i++){ %>
                <label class="checkbox-inline">
                    <input type="radio" name="cate" id="cate" value="<%= cates[i].cate %>"
                           <% if(cates[i].cate == 'IT'){ %>checked
                            <% } %>
                    >
                    <span class="label label-danger text-center"><%= cates[i].cate %></span>
                </label>
                <% } %>
            </div>
            <div class="form-group">
                <label for="cate-keys">详细分类<strong class="text-danger">*</strong></label>
                <span id="keys">
                    <% for (var i = 0 ; i < keys.length; i++){ %>
                    <input type="radio" name='key' value="<%= keys[i].keyname %>">
                            <span class="badge"><%= keys[i].keyname %></span>
                    <% } %>
                </span>
            </div>
            <div class="form-group">
                <label for="title">标题<strong class="text-danger">*</strong></label>
                <input class="form-control" name="title" placeholder="请用一句话描述您的问题，必填">

            </div>
            <div class="form-group">
                <label for="content">描述</label>
                <textarea class="form-control" rows="3" name="content" placeholder="详细描述问题，必要时附图说明，选填"></textarea>
            </div>
            <div class="form-group">
                <input name='image' id="input-id" type="file" class="file-actions" data-preview-file-type="text"
                       multiple>
            </div>
            <div class="form-group">
                <label for="dept">所在部门<strong class="text-danger">*</strong></label>
                <div class="input-group col-lg-4">
                    <span class="input-group-addon" id="plant"><%= plant %></span>
                    <select class="form-control" name="dept">
                        <option></option>
                    </select>
                </div>


            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary" name="submit" onclick="check()">提交</button>
                <span class="label label-danger"><%= message %></span>
            </div>
        </form>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <div id="posible">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>您可能要提交的是...</strong></h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><a href="#">电脑不好使</a></li>
                    <li class="list-group-item"><a href="#">PO报表无法导出的问题</a></li>
                    <li class="list-group-item"><a href="#">一二三四五六七八九十一二三四五六七八九十</a></li>
                    <li class="list-group-item"><a href="#">电脑太卡，申请换新</a></li>
                    <li class="list-group-item"><a href="#">电脑太卡，申请换新</a></li>
                    <li class="list-group-item"><a href="#">电脑太卡，申请换新</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<footer>
    <script src="/stylesheets/bootstrap-fileinput/js/fileinput.min.js"></script>
    <script src="/stylesheets/bootstrap-fileinput/js/locales/zh.js"></script>
    <script src="/stylesheets/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/javascripts/add.js"></script>
</footer>
</body>
</html>