<html>
<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <h1><%= title %></h1>
            <!--<p>标签式的导航菜单</p>-->
            <ol class="breadcrumb">
                <li class="active"><a href="/admin">首页</a></li>
                <li><a href="#">部门</a></li>
                <li><a href="#">关键词</a></li>
                <li><a href="#">其他</a></li>
            </ol>

        </div>
        <div class="row">
            <div class="btn-group btn-group-sm">
                <a href="/admin" type="button" class="btn btn-default dropdown-toggle btn-lg" data-toggle="dropdown">全部
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="/admin/1">未回复</a>
                    </li>
                    <li>
                        <a href="/admin/2">已回复</a>
                    </li>
                    <!--<li class="divider"></li>
                       <li>
                           <a href="#">分离的链接</a>
                       </li>-->
                </ul>
            </div>
            <span class="label label-danger"><%= message %></span>
            <p class="lead"></p>
            <!--<button class="btn btn-primary btn-sm">一键生成关键词</button>-->
        </div>
        <div class="row">
            <% for(var i=0 ; i < messages.length; i++){ %>
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <strong class="text-info">标题：</strong>
                            <%= messages[i].title %>
                        </h3>
                        <% if (messages[i].status == 1) { %>
                            <label class="label label-danger pull-right">未回复</label>
                        <% }else{ %>
                            <label class="label label-success pull-right">已回复</label>
                        <% } %>
                    </div>
                    <div class="panel-body">
                        <strong class="text-info">描述：</strong>
                        <%= messages[i].content %>
                    </div>
                    <ul class="list-group">
                        <!--<li class="list-group-item">
                            <strong class="text-info">关键词：</strong>
                            <span class="label label-danger">电脑</span>
                            <span class="label label-danger">内存</span>
                        </li>-->
                    </ul>
                    <div class="panel-footer">
                        <form action="/admin/1" method="post" class="form-inline" role="form">
                            <!--<input type="text" class="form-control" placeholder="输入关键词">-->
                            <input type="hidden" name="id" value="<%= messages[i].id %>">
                            <div class="form-group">
                                <textarea class="form-control" rows="1" name="reContent" placeholder="回复内容" <% if(messages[i].status!=1){ %> disabled <% } %>><%= messages[i].reContent %></textarea>
                            </div>
                            <div class="form-group">
                                <div class="btn-group btn-group-xs">
                                    <% if(messages[i].status == 1){ %>
                                    <input type="submit" class="btn btn-primary" value="回复">
                                    <% } %>
                                    <a href="/admin/edit/<%= messages[i].id %>" class="btn btn-success">更改</a>
                                    <a href="/admin/del/<%= messages[i].id %>" class="btn btn-danger">删除</a>
                                </div>
                            </div>
                        </form>
                        <small class="label label-default pull-left"><%= messages[i].time %></small>
                        <small class="label label-default pull-right"><%= messages[i].dept %></small>
                    </div>
                </div>
            </div><!-- col -->
            <% } %>
        </div><!-- row -->
    </div><!-- container -->
</body>
</html>