<html>
<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/stylesheets/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/javascripts/jquery/dist/jquery.min.js"></script>
    <script src="/stylesheets/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/javascripts/admin.js"></script>
</head>
<body>
<div class="topnav">
    <div class="container">
        <ul class="breadcrumb text-right">
            您好，
            <li>鲁鹏</li>
            <li><a href="/login"><span class="glyphicon glyphicon-log-out"></span> 登出</a></li>
        </ul>
    </div>
</div>
<div class="container">
    <div class="row">
        <h1><a href="/admin"><img src="/images/index/logo.png" alt="B1信管部"></a>
            <small class="glyphicon glyphicon-minus"></small><small><%= title %></small>
        </h1>
        <p class="lead"></p>
    </div>
    <div class="row">
        <div class="nav nav-tabs">
            <li class="active"><a href="/admin">首页</a></li>
            <li><a href="#">部门</a></li>
            <li><a href="#">关键词</a></li>
            <li><a href="#">其他</a></li>
        </div>
        <p class="lead"></p>
        <div class="btn-group">
            <a href="/admin" type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">全部状态
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="">已提交</a></li>
                <li><a href="">已解答</a></li>
                <li><a href="">跟进中</a></li>
                <li><a href="">已解决</a></li>
                <li class="divider"></li>
                <li><a href="">全部显示</a></li>
            </ul>
        </div>
        <span class="label label-danger" id="alert"><%= message %></span>
        <p class="lead"></p>
    </div>
    <div class="row">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>状态</th>
                <th>分类</th>
                <!--<th>关键词</th>-->
                <th>部门</th>
                <th>主题</th>
                <th>内容</th>
                <!--<th>用户</th>-->
                <th>时间</th>
                <!--<th>数量</th>-->
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <% for(var i = 0 ; i < messages.length; i++){ %>
            <tr status="<%= messages[i].status %>">
                <td><%= messages[i].status %></td>
                <td><%= messages[i].category %></td>
                <td><%= messages[i].dept %></td>
                <td>
                    <p class="title "><%= messages[i].title %></p>
                    <ul class="keyname list-inline">
                        <% var keys = messages[i].keyname.split(',');
                        for(var j = 0; j < keys.length; j++){
                        %>
                        <li><a href="#" class="badge"><%= keys[j] %></a></li>
                        <% } %>
                    </ul>
                </td>
                <td>
                    <%= messages[i].content %>
                </td>
                <!--<td><%= messages[i].user %></td>-->
                <td><%= messages[i].time %></td>
                <!--<td><%= messages[i].num %></td>-->
                <td>
                    <div class="btn-group">
                        <button type="button" class="dropdown-toggle btn btn-default btn-sm" data-toggle="dropdown">
                            操作
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href=""><span class="glyphicon glyphicon-eye-open"></span> 查看</a></li>
                            <li><a href=""><span class="glyphicon glyphicon-edit"></span> 回复</a></li>
                            <li><a href=""><span class="glyphicon glyphicon-pencil"></span> 更改</a></li>
                            <li><a href=""><span class="glyphicon glyphicon-trash"></span> 删除</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <% } %>
            </tbody>
        </table>
    </div><!-- row -->
</div><!-- container -->
</body>
</html>