<% include index/index-layout-header.ejs %>
<ul class="nav nav-tabs">
    <span cate="<%= category %>"></span>
    <li class="<% if (!category){%>active<%}%>">
        <a href="/" type="button" class="dropdown-toggle" data-hover="dropdown">全部
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
            <li>已提交</li>
            <li>已解答</li>
            <li>跟进中</li>
            <li>已解决</li>
        </ul>
    </li>
    <% for(var i = 0; i < cates.length; i++){ %>
    <li class="category">
        <a href="/cate/<%= cates[i].cate %>"><%= cates[i].cate %></a>
    </li>
    <% } %>
</ul>
<div class="col-lg-9">
    <div class="message-list">
        <% for (var i = 0; i < messages.length; i++){ %>
        <section class="message-list-item">
            <div class="qa-rank pull-left">
                <% var status;
                    switch (messages[i].status) {
                        case 1:
                            status = '已提交';
                            break;
                        case 2:
                            status = '已解答';
                            break;
                        case 3:
                            status = '跟进中';
                            break;
                        case 4:
                            status = '已解决';
                            break;
                        default:
                            status = '';
                    }
                %>
                <div class="status"><%= status %></div>
                <!--                      <div class="answers"></div>
                                      <div class="views"></div>-->
            </div>
            <div class="mainContent">
                <ul class="info list-inline">
                    <li><a href="#"><%= messages[i].dept %></a></li>
                    <li><a href="#"><%= messages[i].time %></a></li>
                </ul>
                <p class="title "><%= messages[i].title %></p>
                <ul class="keyname list-inline">
                    <% var keys = messages[i].keyname.split(',');
                    for(var j = 0; j < keys.length; j++){
                    %>
                    <li><a href="#" class="badge"><%= keys[j] %></a></li>
                    <% } %>
                </ul>
            </div>
        </section>
        <% } %>
    </div>
    <div id="pagination" class="text-center">
        <ul class="pagination">
            <li><a href="/">1</a></li>
            <li><a href="/?page=2">2</a></li>
            <li><a href="/?page=3">3</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
    </div>
</div>
<% include index/index-layout-aside.ejs %>
<% include index/index-layout-footer.ejs %>
