<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/stylesheets/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!--    <script src="/javascripts/jquery.min.js"></script>
        <script src="/bootstrap/js/bootstrap.min.js"></script>-->
</head>
<body>
<div class="container">
    <div class="row">
        <h1><%= title %></h1>
        <p class="lead">
            <ol class="breadcrumb">
                <li class="active">首页</li>
                <li><a href="/add" class="">添加需求</a></li>
                <!--<li><a href="/admin" class="btn btn-info btn-xs pull-right">管理员登陆</a></li>-->
            </ol>

            <!--<a href="/add" class="btn btn-primary btn-sm">添加需求</a>-->
            <span class="label label-danger"><%= message %></span>
            <!--<a href="/admin" class="btn btn-info btn-xs pull-right">管理员登陆</a>-->
        </p>
    </div>
    <div class="row">
        <div class="col-lg-9">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#">全部</a></li>
                <% for(var i=0; i< cates.length; i++){ %>
                  <li><a href="#"><%= cates[i].cate %></a></li>
                <% } %>
            </ul>
            <div class="message-list">
                <% for (var i = 0; i < messages.length; i++){ %>
                <div class="col-lg-6">
                    <ul class="list-unstyled">
                        <li>
                            <div id='category' class="badge pull-left text-center"><%= messages[i].category %></div>
                            <div id='content' class="pull-left"><%= messages[i].content %></div>
                            <div id='status' class="pull-right">
                                <% if (messages[i].status == 1){ %>
                                <span class="label label-danger">已提交</span>
                                <% }else if(messages[i].status == 2){ %>
                                <span class="label label-primary">已解答</span>
                                <% }else if(messages[i].status == 3){ %>
                                <span class="label label-info">跟进中</span>
                                <% }else if(messages[i].status == 4){ %>
                                <span class="label label-success">已解决</span>
                                <% } %>
                            </div>
                        </li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <% } %>
            </div>
            <div class="text-center">
              <ul class="pagination">
                <li><a href="/?page=1">1</a></li>
                <li><a href="/?page=2">2</a></li>
                <li><a href="/?page=3">3</a></li>
                <li><a href="#">&raquo;</a></li>
              </ul>
            </div>
        </div>
        <div class="col-lg-3">
            <h3>其他展示</h3>
            <img src="http://10.20.1.100/index/item-1.jpg" width=100% alt="">
            <img src="http://10.20.1.100/index/item-2.jpg" width=100% alt="">
            <!--<img src="http://10.20.1.100/index/item-3.jpg" width=100% alt="">-->
        </div>
    </div>
</div>
</body>
</html>
