<% include index/index-layout-header.ejs %>
<% include index/index-layout-nav.ejs %>
<div class="row">
<div class="col-lg-9">
    <div class="message-list">
        <% for (var i = 0; i < messages.length; i++){ %>
        <section class="message-list-item" mId="<%= messages[i].id %>" status="<%= messages[i].status %>">
            <div class="qa-rank pull-left">
                <% var status;
                    switch (messages[i].status) {
                        case 1:
                            status = '已提交';
                            break;
                        case 2:
                            status = '已解答';
                            break;
                        case 3:
                            status = '跟进中';
                            break;
                        case 4:
                            status = '已解决';
                            break;
                        default:
                            status = '';
                    }
                %>
                <div class="status"><%= status %></div>
                <!--                      <div class="answers"></div>
                                      <div class="views"></div>-->
            </div>
            <div class="mainContent">
                <ul class="info list-inline">
                    <li><a href="#"><%= messages[i].dept %></a></li>
                    <li><a href="#"><%= messages[i].time %></a></li>
                </ul>
                <p class="title "><a href="#"><%= messages[i].title %></a></p>
                <ul class="keyname list-inline">
                    <% var keys = messages[i].keyname.split(',');
                    for(var j = 0; j < keys.length; j++){
                    %>
                    <li><a href="#" class="badge"><%= keys[j] %></a></li>
                    <% } %>
                </ul>
                <div id="<%= messages[i].id %>"></div>
            </div>
        </section>
        <% } %>
    </div>
    <div id="pagination" class="text-center">
        <ul class="pagination">
            <input type="hidden" id="count" value="<%= count %>"></input>
            <input type="hidden" id="page" value="<%= page %>">
            <% if (!category) { %>
                <li><a href="/">1</a></li>
                <li><a href="/?page=2">2</a></li>
                <li><a href="/?page=3">3</a></li>
                <li class="disabled"><a>...</a></li>
                <li><a href="/?page=<%= page*1+1 %>">&raquo;</a></li>
            <% }else{ %>
                <li><a href="/cate/<%= category %>">1</a></li>
                <li><a href="/cate/<%= category %>?page=2">2</a></li>
                <li><a href="/cate/<%= category %>?page=3">3</a></li>
                <li class="disabled"><a>...</a></li>
                <li><a href="/cate/<%= category %>?page=<%= page*1+1 %>">&raquo;</a></li>
            <% } %>
        </ul>
    </div>
</div>
<% include index/index-layout-aside.ejs %>
<% include index/index-layout-footer.ejs %>
