<% for (var i = 0; i < messages.length; i++){ %>
<section class="message-list-item">
    <div class="qa-rank pull-left">
        <% var status;
            switch (messages[i].status) {
                case 1:
                    status = '已提交';
                    break;
                case 2:
                    status = '已解答';
                    break;
                case 3:
                    status = '跟进中';
                    break;
                case 4:
                    status = '已解决';
                    break;
                default:
                    status = '';
            }
        %>
        <div class="status"><%= status %></div>
        <!--                      <div class="answers"></div>
                              <div class="views"></div>-->
    </div>
    <div class="mainContent">
        <ul class="info list-inline">
            <li><a href="#"><%= messages[i].dept %></a></li>
            <li><a href="#"><%= messages[i].time %></a></li>
        </ul>
        <p class="title "><%= messages[i].title %></p>
        <ul class="keyname list-inline">
            <% var keys = messages[i].keyname.split(',');
            for(var j = 0; j < keys.length; j++){
            %>
            <li><a href="#" class="badge"><%= keys[j] %></a></li>
            <% } %>
        </ul>
    </div>
</section>
<% } %>

